<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpsi.evidencetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CameraActivity"></activity>
        <activity android:name=".Guidelines2" />
        <activity android:name=".Case3" />
        <activity android:name=".Case2" />
        <activity android:name=".Case1" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuidelinesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseCasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomepageActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_homepage"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>